* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
input,
select {
  border: 1px solid #ced4da;
  border-radius: 4px;
  border-color: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}
.app {
  &-container {
    max-width: 1140px;
    margin: 0 auto;
  }
  &-header {
    padding: 48px 15px;
    font-size: 40px;
    color: #212529;
    font-weight: 500;
    line-height: 1.2;
  }
  &-input {
    width: 730px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  &-todoStatus {
    margin-bottom: 16px;
    & > select {
      background-color: #fff;
      padding: 6px 12px;
      margin-right: 10px;
    }
  }
}
.done {
  text-decoration: line-through;
}
.editableInput {
  &-container {
    display: flex;
    align-items: center;
    max-width: 540px;
    padding: 12px 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    & > form {
      margin-right: 8px;
      & > input {
        width: 390px;
        padding: 6px 12px;
      }
    }
    & > p {
      width: 400px;
      padding: 6px 12px;
      user-select: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &-edit,
  &-delete {
    padding: 6px 12px;
    border-radius: 4px;
    &:hover {
      cursor: pointer;
    }
  }
  &-edit {
    & > i {
      color: #007bff;
    }
    &:hover {
      background-color: #007bff;
      & > i {
        color: #fff;
      }
    }
  }
  &-delete {
    & > i {
      color: #dc3545;
    }
    &:hover {
      background-color: #dc3545;
      & > i {
        color: #fff;
      }
    }
  }
}
